/*General styling*/


body {
    color: Red;
    background-color: Lime;
}

.main-body, header, footer {
    width: 960px;
    margin: 45px auto 0 auto;
}

.main-body {
    display: grid;
}

ul {
    list-style: none;
}


/*CSS that styles the map page*/

#map {
    background: transparent;
    height: 500px;
    width: 500px;
}

#map-info {
    height: 100px;
}

#img0 {
    grid-row-start: 1;
    grid-column-start: 1;
}

#img1 {
    grid-row-start: 2;
    grid-column-start: 1;
}

#img2 {
    grid-row-start: 1;
    grid-column-start: 2;
}

#img3 {
    grid-row-start: 2;
    grid-column-start: 2;
}

.map-body {
    display: grid;
    grid-row: 2;
    width: 500px;
    height: 500px;
    text-align: center;
    font-size: 28px;
    font-family: fantasy;
    font-weight: bold;
    text-decoration: underline;
}

.img-container {
    display: grid;
    height: 400px;
}

.img-container img {
    grid-row: 2;
    grid-column: 2;
}

/*CSS that styles the user page*/

.user-body-container {
    grid-row: auto;
    /* This is where scroll is implemented */
    overflow-y: scroll;
    height: 50vh;
    background-color: lightGreen;
}

.user-body {
    display: grid;
    width: 956px;
    grid-column: 2;
    border: 2px solid black;
}

.user-image {
    width: 200px;
    grid-column-start: 1;
}

.user-info {
    width: 300px;
    text-align: left;
    grid-column-start: 2;
    font-size: 18px;
    text-transform: capitalize;
}

.email {
    text-transform: lowercase;
}

/*CSS that styles the postget page*/

.pg-output {
    height: 200px;
    border: 2px solid grey;
}
